<mat-grid-list cols="4" rowHeight="2:2">
  <mat-grid-tile *ngFor="let card of cards">
    <mat-card class="card-container" (click)="navigateToDetail(card.id)">
      <img mat-card-image [src]="card.image" alt="Card image" />

      <button
        mat-icon-button
        class="favorite-button"
        (click)="toggleFavorite(card, $event)"
      >
        <mat-icon>{{
          card.favorite.length ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>

      <mat-card-content>
        <p class="card-price">
          {{ card.price | currency : card.currency.symbol }}
        </p>

        <mat-card-actions>
          <ng-container
            *ngIf="
              card.status === 'to sale' || card.status === 'to rent';
              else statusText
            "
          >
            <button
              mat-raised-button
              color="primary"
              *ngIf="card.status === 'to sale'"
              (click)="navigateToFatora(card, $event)"
            >
              Buy
            </button>
            <button
              mat-raised-button
              color="primary"
              *ngIf="card.status === 'to rent'"
              (click)="navigateToFatora(card, $event)"
            >
              Rent
            </button>
          </ng-container>

          <ng-template #statusText>
            <div class="status-label">
              <p *ngIf="card.status === 'sold'" class="status sold">Sold</p>
              <p *ngIf="card.status === 'rented'" class="status rented">
                Rented
              </p>
            </div>
          </ng-template>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button
  class="floating-button"
  mat-fab
  color="primary"
  aria-label="Add Real Estate"
  routerLink="/addrealestate"
>
  <mat-icon>add</mat-icon>
</button>
