<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">Real Estate Details</h4>
        </div>
        <div class="card-body">
          <ng-container *ngIf="realEstate; else loading">
            <!-- First Row -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="address" class="form-label fw-bold">Address:</label>
                <p id="address" class="text-muted">{{ realEstate.address }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="type" class="form-label fw-bold">Type:</label>
                <p id="type" class="text-muted">{{ realEstate.type }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="price" class="form-label fw-bold">Price:</label>
                <p id="price" class="text-muted">
                  {{ realEstate.price | currency : realEstate.currency.symbol }}
                </p>
              </div>
            </div>

            <!-- Second Row -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="details" class="form-label fw-bold">Details:</label>
                <p id="details" class="text-muted">{{ realEstate.details }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="garage" class="form-label fw-bold">Garage:</label>
                <p id="garage" class="text-muted">{{ realEstate.garage }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="section" class="form-label fw-bold">Section:</label>
                <p id="section" class="text-muted">{{ realEstate.section }}</p>
              </div>
            </div>

            <!-- Third Row -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="property" class="form-label fw-bold"
                  >Property:</label
                >
                <p id="property" class="text-muted">
                  {{ realEstate.property }}
                </p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="balcony" class="form-label fw-bold">Balcony:</label>
                <p id="balcony" class="text-muted">{{ realEstate.balcony }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="furniture" class="form-label fw-bold"
                  >Furniture:</label
                >
                <p id="furniture" class="text-muted">
                  {{ realEstate.furniture }}
                </p>
              </div>
            </div>

            <!-- Fourth Row -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="status" class="form-label fw-bold">Status:</label>
                <p id="status" class="text-muted">{{ realEstate.status }}</p>
              </div>

              <div class="col-md-4 mb-3">
                <label for="lock_date" class="form-label fw-bold"
                  >Lock Date:</label
                >
                <p
                  id="lock_date"
                  class="text-muted"
                  *ngIf="realEstate.lock_date"
                >
                  {{ realEstate.lock_date | date : "yyyy-MM-dd" }}
                </p>
                <p *ngIf="!realEstate.lock_date" class="text-muted">
                  Lock Date is not available
                </p>
              </div>

              <div
                class="col-md-4 mb-3"
                *ngIf="
                  realEstate.status !== 'sold' && realEstate.status !== 'rented'
                "
              >
                <label for="months" class="form-label fw-bold">Months:</label>
                <p id="months" class="text-muted">{{ realEstate.months }}</p>
              </div>
            </div>

            <!-- Fifth Row -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="currency" class="form-label fw-bold"
                  >Currency:</label
                >
                <p id="currency" class="text-muted">
                  {{ realEstate.currency.name }} ({{
                    realEstate.currency.symbol
                  }})
                </p>
              </div>
            </div>

            <!-- Photos Row -->
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="photos" class="form-label fw-bold">Photos:</label>
                <div id="photos" class="d-flex flex-wrap">
                  <img
                    *ngFor="let photo of realEstate.photos"
                    [src]="photo.photo"
                    class="rounded border"
                    alt="Property Photo"
                    style="
                      max-width: 100px;
                      margin-right: 10px;
                      margin-bottom: 10px;
                    "
                  />
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Loading Spinner -->
          <ng-template #loading>
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>

          <div class="floating-buttons-container">
            <button
              class="floating-button"
              mat-fab
              color="primary"
              aria-label="Add user"
              routerLink="/addrealestate"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              class="floating-button"
              mat-fab
              color="primary"
              aria-label="Edit user"
              (click)="navigateToEditRealEstate()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="floating-button"
              mat-fab
              color="primary"
              aria-label="Delete user"
              (click)="deleteRealEstate()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
