<app-home></app-home>

<div *ngIf="isHomePage" class="full-page-image">
  <div id="slider">
    <figure [@slideAnimation]>
      <img
        *ngFor="let image of background_images"
        class="background-image"
        src="{{ image.src }}"
        alt
      />
    </figure>
    <div class="overlay">
      Welcome to our<br />
      <span style="color: white; display: flex; align-items: center">
        <mat-icon
          style="
            color: red;

            padding-right: 10px;
            margin-right: 4px;
          "
          >home</mat-icon
        >
        <span style="font-size: 2rem">Real</span>
        <span style="color: red; font-size: 2rem; padding: 15px">Estate</span>
      </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
