<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="card-title mb-0">Invoice Details</h2>
    </div>
    <div class="card-body">
      <form #invoiceForm="ngForm" (ngSubmit)="getAddInvoices()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="details" class="form-label">Details</label>
            <input
              type="text"
              class="form-control"
              id="details"
              [(ngModel)]="invoice.details"
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="currency_id" class="form-label">Price</label>
            <input
              id="currency_id"
              class="form-control"
              name="currency_id"
              [value]="RealEstate?.currency.symbol + ' ' + RealEstate?.price"
              readonly
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="method_payment_id" class="form-label"
              >Payment Method</label
            >
            <select
              id="method_payment_id"
              class="form-control"
              name="method_payment_id"
              [(ngModel)]="invoice.method_payment_id"
            >
              <option value="" disabled>Select a payment method</option>
              <option *ngFor="let method of paymentMethods" [value]="method.id">
                {{ method.name }}
              </option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="date" class="form-label">Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="date"
              [(ngModel)]="invoice.date"
              [value]="currentDateTime"
              required
            />
          </div>
        </div>

        <!-- Currency Select -->
        <!-- invoice.component.html -->

        <!-- Payment Method Select -->

        <div class="container mt-3">
          <button
            class="btn btn-primary btn-block col-md-12 mb-2"
            [disabled]="!invoice.method_payment_id"
          >
            {{ type }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
