<mat-toolbar color="primary" class="toolbar">
  <div class="left-section">
    <mat-icon style="color: red">home</mat-icon>
    <span class="app-name">Real <span style="color: red"> Estate </span></span>
  </div>
  <span class="spacer"></span>
  <div class="right-section">
    <a mat-button routerLink="/" class="nav-link">Home</a>
    <a mat-button routerLink="/listing" class="nav-link">Listing</a>

    <a
      *ngIf="user_type != 'customer' && user_type"
      mat-button
      routerLink="/users"
      class="nav-link"
      >Users</a
    >
    <a
      *ngIf="user_type != 'customer' && user_type"
      mat-button
      routerLink="/listinvice"
      class="nav-link"
      >Invoices</a
    >

    <a mat-button routerLink="/login" class="nav-link">Login</a>
    <a mat-button routerLink="/register" class="nav-link">Register</a>
    <a mat-button (click)="logout()" class="nav-link">Logout</a>
  </div>
</mat-toolbar>
