<div class="testbox">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="username"
        placeholder="UserName"
        required
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <span *ngIf="name?.errors?.['required']">Name is required.</span>
        <span *ngIf="name?.errors?.['minlength']"
          >Name must be at least 4 characters long.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        formControlName="phone"
        placeholder="Phone Number"
        required
      />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
        <span *ngIf="phone?.errors?.['required']"
          >Phone Number is required.</span
        >
        <span *ngIf="phone?.errors?.['pattern']"
          >Invalid phone number format.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
        <span *ngIf="email?.errors?.['email']">Invalid email format.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        required
      />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <span *ngIf="password?.errors?.['required']"
          >Password is required.</span
        >
        <span *ngIf="password?.errors?.['minlength']"
          >Password must be at least 6 characters long.</span
        >
        <span *ngIf="password?.errors?.['pattern']"
          >Password must contain both uppercase and lowercase letters.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ID Number</mat-label>
      <input
        matInput
        formControlName="id_number"
        placeholder="ID Number"
        required
      />
      <mat-icon matSuffix>credit_card</mat-icon>
      <!-- You can choose a different icon -->
      <mat-error
        *ngIf="idNumber?.invalid && (idNumber?.dirty || idNumber?.touched)"
      >
        <span *ngIf="idNumber?.errors?.['required']"
          >ID Number is required.</span
        >
        <span *ngIf="idNumber?.errors?.['pattern']"
          >ID Number must be between 6 and 10 digits long.</span
        >
      </mat-error>
    </mat-form-field>

    <div class="gender">
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <p>
      By clicking Register, you agree on our
      <a href="#">terms and condition</a>.
    </p>
    <button mat-raised-button color="primary" [disabled]="registerForm.invalid">
      Register
    </button>
  </form>
</div>
